@tailwind base;
@tailwind components;
@tailwind utilities;



/* ================= GLOBAL BACKGROUND GRADIENT ================= */

.bg-page-gradient {
  width: 100%;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff
  );
}

/* Dark mode */
.dark .bg-page-gradient {
  background: linear-gradient(
    to bottom,
    #111827,
    #030712
  );
}

.shadow-top {
  box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.12);
}
/* ================= CTA MOTION ================= */

@keyframes floatPulse {
  0% {
    transform: translateY(0);
   
  }
  50% {
    transform: translateY(-4px);
    
  }
  100% {
    transform: translateY(0);
    
  }
}

.cta-motion {
  animation: floatPulse  ease-in-out infinite;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
}



.cta-motion:hover::after {
  transform: translateX(100%);
}

.cta-motion:hover {
  transform: translateY(-3px) scale(1.02);
}

.cta-motion:active {
  transform: scale(0.96);
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}



@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}


@keyframes pulse-slow {
  0%, 100% { transform: scale(1); opacity: 12; }
  50% { transform: scale(1.4); opacity: 0; }
}

.animate-pulse-slow {
  animation: pulse-slow 2s infinite;
}
